#information_container{
    width: 80%;
    margin:auto;
    margin-top: 25px;
}

.information_card{
    margin-bottom: 15px;
}

.info_date{
    color: var(--color-ter);
    font-size: 12px;
}

#calendrier_container{
    width: 80%;
    margin:auto;
    margin-top: 25px;
}

.mois_container{
    margin-top: 20px;
}

.mois {
    font-size: 20px;
    margin-bottom: 5px;
}

.event{
    margin-left: 25px;
}