header {
    z-index: 100;
    height: 150px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top:0;
    background: url("/images/coupole.jpg") ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: 0% 41%;
}

#header{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menu_header {
    background-color: var(--color-seg);
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

#menu_header * {
    margin:auto 5px;
}

#menu_navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
}

.header_image{
    width: 15px;
    height: 15px;
    margin: 25px;
    text-indent: -9999px;
}

.menu_nav_page {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.menu_nav_page a{
    text-decoration: none;
    color: var(--color-font);
    font-size: 20px;
}

.menu_nav_page ul {
    display: none;
    background: var(--color-seg);
    width: 259px;
    height: 150px;
}

.menu_nav_page li {
    font-size: 12px;
    height: 25px;
}

#header_title {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contain_header_page_title{
    color: #ffffff;
    font-size: 30px;
}

#header_home_name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#helfaut_logo_header{
    width: 250px;
}