:root {
	--color-main: #f1f1f1; /*Principale*/
	--color-seg: #ffffff; /*segondaire*/
	--color-ter: #bababa; /*troisième*/
	--color-font: #000;
	--color-footer: #bababa;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI Regular';
	list-style: none;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: var(--color-main);
	color: var(--color-font);
}

main {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

@media (max-width: 800px) {
	main {
		max-width: 700px;
	}
}

@media (max-width: 400px) {
	main {
		max-width: 350px;
	}
}

#appContainer {
	margin-top: 150px;
	margin-bottom: 100px;
	min-height: 70vh;
	height: 100%;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: var(--color-main);
}

body::-webkit-scrollbar-thumb {
	background: #666666;
}
