:root {
    --color-main : #f1f1f1; /*Principale*/
    --color-seg : #ffffff; /*segondaire*/
    --color-ter : #bababa; /*troisième*/
	
	
    --color-main-darck : #212121; /*Principale*/
    --color-seg-darck : #181818; /*segondaire*/
    --color-ter-darck : #BABABA; /*troisième*/
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: var(--color-main);
}

main{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

#appContainer {
	margin-top: 150px;
	margin-bottom: 100px;
	min-height: 70vh;
	height: 100%;
}
