#container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* CONTENU ONGLET */

.container_onglet_contenue{
    width: 100%;
    height: 500px;
    background: var(--color-seg);
}

/* BUTTON ONGLET */

#onglets_buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

#onglets_buttons li{
    background: var(--color-seg);
    height: 35px;
}

#onglets_buttons a {
    text-decoration: none;
    color: var(--color-font);
}