/* CONTENU ONGLET */

.container_onglet_contenue{
    /* width: 100%; */
    height: 500px;
    background: var(--color-seg);
}

/* BUTTON ONGLET */

#onglets_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#onglets_buttons li{
    background: var(--color-seg);
    height: 35px;
    /* width: 24%; */
    display: flex;
    align-items: center;
    padding-left: 15px;
}

#onglets_buttons a {
    text-decoration: none;
    color: var(--color-font);
}