/* BULLETINS */

#bulletin_municipaux, #compte_rendu_container{
    width: 80%;
    margin:auto;
    margin-top: 25px;
}

#title_bulletin{
    font-size: medium;
    font-weight:bold;
}

#bulletin_container{
    width: 100%;
    margin-top: 35px;
}

.bulletin_card, .compte_rendu_card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.bulletin_card img{
    margin-left: 25px;
    margin-top: 5px;
    width: 15px;
}

.date_bulletin{
    color: var(--color-ter);
    font-size: 10px;
}

/* COMPTE RENDU  */

.compte_rendu_card {
    margin: 0;
    align-items: center;
}

.compte_rendu_card img {
    margin-left: 25px;
    width: 15px;
}